
<div class="container text-white p-4">

  <h2>Add a Cocktail</h2>
  <br>

  <div class=" form border p-4 text-white">
    <%= simple_form_for(@cocktail) do |f| %>
       <%= f.input :name %>
       <%= f.input :photo %>
       <%= f.input :photo_cache, as: :hidden %>
       <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>





