<div class="container text-white p-3 d-inline-block text-center">
  <br>
  <br>
  <div class="container d-flex justify-content-around ">
    <div>
<h2><%= @cocktail.name %></h2>
<br>
<img class="img-rounded " style= "width: 250px; height: 250px; object-fit: cover;
  border-radius: 10px;" src='<%=cl_image_path @cocktail.photo, crop: :fill%>'alt="">
</div>
<div>
<h4>Recipe</h4>
<br>
<% @cocktail.doses.each do |dose| %>
  <ul>
    <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "🗑", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" }  %></li>
  </ul>
<% end %>
</div>
</div>
<br>
<br>
<div class="form p-5 border p-4">
  <h4>Add a new receipe dose</h4>
  <br>
<%= simple_form_for [@cocktail, @dose] do |f| %>
       <%= f.input :description %>
       <%= f.association :ingredient, as: :select%>
        <%= f.button :submit, class: " btn btn-primary" %>
  <% end %>
  </div>
</div>




